aside {
  background-color: #F26964;
  border-radius: 5px;
  height: 20rem;
  margin: 1rem 0 1rem 0;
  padding: 10px;
  width: 87%;
  box-shadow: 0 1px 15px 0 rgba(0, 0, 0, 0.24); }

.card-container {
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; }
  .card-container .card-html {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../img/html1.jpg);
    background-size: 100% 120px;
    background-repeat: no-repeat;
    background-color: #0F6470;
    border-radius: 5px;
    height: 20rem;
    margin: 1rem 0 1rem 0;
    padding: 10px;
    width: 91%;
    box-shadow: 0 1px 15px 0 rgba(0, 0, 0, 0.24); }
    .card-container .card-html .card-header h1 {
      color: #fff;
      font-size: 3em;
      line-height: 0; }
    .card-container .card-html .card-header summary {
      color: #fff;
      font-size: 1em;
      line-height: 1; }
    .card-container .card-html details {
      padding-top: 50px; }
  .card-container .card-css {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../img/html1.jpg);
    background-size: 100% 120px;
    background-repeat: no-repeat;
    background-color: #0F6470;
    border-radius: 5px;
    height: 20rem;
    margin: 1rem 0 1rem 0;
    padding: 10px;
    width: 91%;
    box-shadow: 0 1px 15px 0 rgba(0, 0, 0, 0.24);
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../img/scss1.jpg); }
    .card-container .card-css .card-header h1 {
      color: #fff;
      font-size: 3em;
      line-height: 0; }
    .card-container .card-css .card-header summary {
      color: #fff;
      font-size: 1em;
      line-height: 1; }
    .card-container .card-css details {
      padding-top: 50px; }
  .card-container .card-js {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../img/html1.jpg);
    background-size: 100% 120px;
    background-repeat: no-repeat;
    background-color: #0F6470;
    border-radius: 5px;
    height: 20rem;
    margin: 1rem 0 1rem 0;
    padding: 10px;
    width: 91%;
    box-shadow: 0 1px 15px 0 rgba(0, 0, 0, 0.24);
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../img/js1.jpg); }
    .card-container .card-js .card-header h1 {
      color: #fff;
      font-size: 3em;
      line-height: 0; }
    .card-container .card-js .card-header summary {
      color: #fff;
      font-size: 1em;
      line-height: 1; }
    .card-container .card-js details {
      padding-top: 50px; }
  .card-container .card-tools {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../img/html1.jpg);
    background-size: 100% 120px;
    background-repeat: no-repeat;
    background-color: #0F6470;
    border-radius: 5px;
    height: 20rem;
    margin: 1rem 0 1rem 0;
    padding: 10px;
    width: 91%;
    box-shadow: 0 1px 15px 0 rgba(0, 0, 0, 0.24);
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../img/tools1.jpg); }
    .card-container .card-tools .card-header h1 {
      color: #fff;
      font-size: 3em;
      line-height: 0; }
    .card-container .card-tools .card-header summary {
      color: #fff;
      font-size: 1em;
      line-height: 1; }
    .card-container .card-tools details {
      padding-top: 50px; }

footer {
  background-color: #B8BFB8; }

.header-container {
  background-color: #B8BFB8; }
  .header-container nav a {
    background-color: #FFD464;
    font-size: 2em; }
  .header-container h1 {
    font-size: 2em;
    line-height: 80%;
    margin: 10px 0 10px 0; }

/* ==========================================================================
   Media Queries
   ========================================================================== */
@media only screen and (min-width: 480px) {
  .header-container nav a {
    font-size: 1em; }
  header h1 {
    margin: 0.5rem 0.5rem 0.5rem 0; }
  nav {
    width: 100%; }
    nav a {
      font-size: 1em;
      width: 16.66667%;
      padding: 0.5rem;
      margin: 0 1rem 0 0; } }
