.card {
  background-color: #abc;
  border: 1px solid black;
  height: 10rem;
  margin: 1rem 1rem 1rem 0;
  padding: 5px;
  width: 10rem; }

.card-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start; }
