.card {
  background-color: #abc;
  border: 1px solid black;
  height: 10rem;
  margin: 1rem 1rem 1rem 0;
  padding: 5px;
  width: 10rem; }

.card-container {
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; }

/* ==========================================================================
   Media Queries
   ========================================================================== */
@media only screen and (min-width: 480px) {
  header h1 {
    margin: 0.5rem 0.5rem 0.5rem 0; }
  nav {
    width: 100%; }
    nav a {
      width: 16.6666666667%;
      padding: 0.5rem;
      margin: 0 1rem 0 0; } }
